body{
    margin: 0;
}

nav{
    width: 100%;
    background-color: rgb(50, 133, 211);
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
.dropdown{
    display: inline-block;
    padding: 4px 10px;
}
.dropdownbutton{
    display: block;
    background-color: none;
    color: white;
    font-size: 15px;
    line-height: 100%;
    height: 100%;
    width: 100%;
    font-family: Arial;
}
.dropdowncontent{
    display: none;
    background-color: rgb(50, 133, 211);
    position: absolute;
    text-align: justify;
    min-width: 100px;
    padding: 10px;
    font-family: Arial;
    font-size: 14px;
}
.dropdown a{
    color: white;
    text-decoration: none;
    vertical-align: middle;
    padding: 4px 0px;
}
.dropdown:hover .dropdowncontent, .dropdown:hover a{
    display: block;
}
.dropdowncontent > a:hover, .dropdownbutton:hover{
    color: black;
    background-color: rgb(173, 216, 230, 0.5);
}



header > *{
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 0px 50px;
}
header > h2{
    text-align: center;
    display: block;
    width: 400px;
    border-bottom: 1px black solid;
    margin: 0 auto;
}
header{
    background-color: rgb(62, 70, 139);
    padding: 5px 0px 10px 0px;
    margin-bottom: 20px;
    width: 100%;
}
